# global
node_modules
.env
.env.local
.env.*.local
.env.production
.env*

.DS_Store
.vscode
# กันพลาด (เผื่อมีโฟลเดอร์ซ้อน)
**/node_modules
**/.next
mosquitto/log/
*.log
mosquitto/data/*.db
mosquitto/data/mosquitto.db
mosquitto/data/
mosquitto/conf/passwd
certs/

# Go and compiled binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
go_backend/main
tmp/

go_backend/tmp/
frontend/tsconfig.tsbuildinfo
