# global
node_modules
.env
.env.local
.env.*.local
.env.production
.env*

.DS_Store

# กันพลาด (เผื่อมีโฟลเดอร์ซ้อน)
**/node_modules
**/.next
mosquitto/log/
*.log
mosquitto/data/*.db
mosquitto/data/mosquitto.db
mosquitto/data/